rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /teamStates/{teamId} {
      allow read, write: if true;
    }
    match /modelMetadata/{modelId} {
      allow read, write: if true;
    }
  }
}
